<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="styLesheet" th:href="@{/css/Main.css}">
</head>
<body>
	<header th:replace="~{/include/header_nav_footer.html::header}"></header>
	<section>
		<h2>로그인 페이지</h2>
		<div style="width: 500px; margin: 50px auto">
			<form th:action="@{/member/loginPro}" method="POST">
				<table>
					<tbody>
						<tr>
							<td>아이디</td>
							<td>
								<input type="text" name="id" placeholder="아이디를 입력하세요">
							</td>
						</tr>
						<tr>
							<td>비밀번호</td>
							<td>
								<input type="password" name="pw" placeholder="비밀번호를 입력하세요">
							</td>
						</tr>
					</tbody>
				</table>
				<button type="submit">로그인</button>
				<a th:href="@{/}">취소</a>
			</form>
		</div>
	</section>
	<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
</body>
</html>