<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="questBoard.mapper.QuestBoardMapper">

	<insert id="insertQuestBoard" parameterType="qDTO">
		INSERT INTO questBoard(writer,email,subject,password,ref,re_step,content,upload1,upload2)
		VALUES(#{writer},#{email},#{subject},#{password},(SELECT IFNULL(MAX(r.ref)+1,1) FROM questBoard r),1,#{content},#{upload1},#{upload2})
	</insert>
	
	<select id="getAllQuestBoard" resultType="qDTO">
		SELECT * FROM questBoard ORDER BY num DESC
	</select>
	
	<select id="getOneQuestBoard" parameterType="int" resultType="qDTO">
		SELECT * FROM questBoard WHERE num=#{num}
	</select>
	
	<insert id="reWriteQuestBoard" parameterType="qDTO">
		INSERT INTO questBoard(writer,email,subject,password,ref,re_step,content,upload1,upload2)
		VALUES(#{writer},#{email},#{subject},#{password},#{ref},2,#{content},#{upload1},#{upload2})
	</insert>
	
	<update id="readCountUpdate" parameterType="qDTO">
		UPDATE questBoard SET readcount = readcount+1 WHERE num=#{num} 
	</update>
	
	
	<update id="updateOneBoard" parameterType="qDTO">
		UPDATE questBoard SET subject=#{subject}, content=#{content} WHERE num=#{num}
	</update>
	
	<select id="getAllcount" resultType="int">
		SELECT COUNT(*) FROM questBoard
	</select>
	
	<select id="getPagelist" resultType="qDTO">
		SELECT *FROM questBoard ORDER BY ref DESC, re_step ASC
		LIMIT #{startRow}, #{pageSize}
	</select>
	
</mapper>