<!DOCTYPE html >
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>도서 대여 입력</h2>
	<form th:action="@{/book/rentalProc}" method="POST">
		<input type="text" placeholder="도셔명 입력" name="book_name">
		<input type="text" placeholder="저자명 입력" name="auther">
		<input type="text" placeholder="ISBN 입력" name="isbn">
		<input type="text" placeholder="대여자명 입력" name="renter_name">
		<input type="submit" value = "저장하기">
		<input type="submit" value = "대여하기">
	</form>
</body>
</html>