<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- com.green.board.mapper -->
<mapper namespace='com.green.board.mapper.BoardMapper'>
	
	<insert id="insertBoard" parameterType="BoardDTO">
		INSERT INTO board(writer,subject,writerPw,content,id) 
		values(#{writer},#{subject},#{writerPw},#{content},#{id})
	</insert>
	
	<select id="getAllboard" resultType="BoardDTO">
		SELECT * FROM board ORDER BY num DESC
	</select>
	
	<!-- 게시글 클릭하면 조회수 업 -->
	<update id="updateReadBoard" parameterType="int">
		UPDATE board SET readcount= readcount+1 WHERE num=#{num}
	</update>
	
	<!-- 하나만 선택하는 -->
	<select id="getOneBoard" parameterType="int" resultType="BoardDTO">
		SELECT * FROM board WHERE num=#{num}
	</select>
	
	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE board SET subject=#{subject}, content=#{content} WHERE num=#{num} AND writerPw=#{writerPw}
	</update>
	
	<delete id="deleteBoard" >
		DELETE FROM board WHERE num=#{num} AND writerPw=#{writerPw}
	</delete>
	
	<!-- 검색 -->
	<select id="getSearchBoard" resultType="BoardDTO">
		SELECT * FROM board
		<where>
			<choose>
				<!-- <when test="조건식" => a == b> -->
				<when test="searchType == 'subject'">
					subject LIKE CONCAT("%" , #{searchKeyword} , "%")
				</when>
				<otherwise>
					content LIKE CONCAT("%" , #{searchKeyword} , "%")
				</otherwise>
			</choose>
		</where>
		ORDER BY num DESC
	</select>
	
	<select id="getAllcount" resultType="int">
		SELECT COUNT(*) FROM board
	</select>
	
	<select id="getPagelist" resultType="BoardDTO">
		SELECT *FROM board ORDER BY num DESC
		LIMIT #{startRow}, #{pageSize}
	</select>

	<select id="getSearchCount" resultType="int">
		SELECT COUNT(*) FROM board
		<where>
			<choose>
				<when test="searchType == 'subject'">
					subject LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<otherwise>
					content LIKE CONCAT("%",#{searchKeyword},"%")				
				</otherwise>
			</choose>
		</where>
	</select>

	<select id="getSearchPageList" resultType="BoardDTO">
		SELECT * FROM board 
		<where>
			<choose>
				<when test="searchType == 'subject'">
					subject LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<otherwise>
					content LIKE CONCAT("%",#{searchKeyword},"%")				
				</otherwise>
			</choose>
		</where>
		ORDER BY num DESC
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	<select id="getMyBoardCount" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM board WHERE id=#{loginId}
	</select>
	<!-- user_member의 id와 board의 id 같은 게시글의 목록만 검색 -->
	<!-- select 필드명 from 테이블이름 별칭 inner join 테이블 이름 별칠 on 별칭.pk = 별칭.fk -->
	<select id="getMyBoardList" resultType="BoardDTO">
		SELECT 
			b.num,
			b.subject,
			b.reg_date,
			b.readcount,
			m.id as writer
		FROM board b INNER JOIN user_member m ON b.id=m.id
		WHERE b.id = #{loginId}
		ORDER BY b.num DESC
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	
	
</mapper>