<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="styLesheet" th:href="@{/css/Main.css}">
</head>
<body>
	
	
	<header ></header>
	<!-- <header th:replace="~{/include/header_nav_footer.html::header}"></header>
	<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav> -->
	<section>
		<div id="section_wrap">
			<div class="word"><h2>게시판 리스트 페이지 입니다</h2></div>
			<div class="links">
				<a th:href="@{/board/boarderWrite}">게시판 작성 하러 가기</a>
				<a th:href="@{/}">메인으로 돌아가기</a>
			</div>
			<div class="content">
				<table border="1">
					<thead>
						<tr>
							<th>게시글 번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>작성일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="li: ${list}">
							<td th:text="${li.id}"></td>
							<td>
								<a th:href="@{/board/boardResult(id=${li.id})}"
								th:text="${li.title}"></a>
							</td>
							<td th:text="${li.writer}"></td>
							<td th:text="${li.createdAt}"></td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	</section>
	<footer></footer>
	<!-- <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer> -->
</body>
</html>