<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="styLesheet" th:href="@{/css/Main.css}">
</head>
<body>
	<header></header>
	<section>
		<h2>게시판 내용 페이지 입니다</h2>
		<table border="1">
			<tbody>
				<tr>
					<td>제목</td>
					<td th:text="${onelist.title}"></td>
				</tr>
				<tr>
					<td>작성자</td>
					<td th:text="${onelist.writer}"></td>
				</tr>
				<tr>
					<td>작성일</td>
					<td th:text="${onelist.createdAt}"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td th:text="${onelist.content}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/board/boardList}" class="btn">게시판 리스트로 돌아가기</a>
		<a th:href="@{/board/boardReWrite(id=${onelist.id})}" class="btn">내용 수정 하러가기</a>
		<form th:action="@{/board/deletePro}" method="GET">
			<input type="hidden" name="id" th:value="${onelist.id}">
			<button type="submit">삭제하기</button>
		</form>
		
		<footer></footer>
	</section>
</body>
</html>