<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>전체 책 목록</h2>
	<table border= 1>
		<thead>
			<tr>
				<th>책이름</th>
				<th>저자</th>
				<th>책번호</th>
				<th>대여자</th>
				<th>대여일자</th>
				<th>반납일자</th>				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<a href="/book/bookRent" style="text-decoration: none">책 대여 하러 가기</a>
</body>
</html>