<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>로그인 페이지</h2>
	<form th:action="@{/book/myPage}" method="POST">
		<input type="text" name="Id" placeholder="아이디 입력">
		<input type="password" name="Pw" placeholder="비밀번호 입력">
		<input type="submit" placeholder="로그인 하기">
	</form>
	<a href="/book/signup">회원가입 페이지로 이동</a>
	<table border="1">
		<thead>
			<tr>
				<th>아이디</th>
				<th>비밀번호</th>
				<th>회원이름</th>
				<th>이메일</th>
				<th>가입일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "li : ${userList}">
				<td th:text="${li.Id}"></td>
				<td th:text="${li.Pw}"></td>
				<td th:text="${li.userName}"></td>
				<td th:text="${li.eamil}"></td>
				<td th:text="${li.Id}"></td>
			</tr>
			<tr th:if="{#lists.isEmpty(userList)}">
				<td colspan="5">저장된 회원정보가 없습니다</td>
			</tr >
		</tbody>
	</table>
</body>
</html>