<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<h2>문의 게시판 리스트</h2>
		<table border="1">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="li, stat:${list}">
					<td th:text="${stat.size - stat.index}"></td>
					<td>
						<img th:if="${li.upload1 != null}" th:src="@{/upload/{img}(img=${li.upload1})}" 
	       				width="50" 
	       				height="50" 
	       				style="border:1px solid #ccc;">
						<span th:if="${li.re_step > 1}"
			             style="padding-left: 20px;">
			            ↳[re]
			        	</span>
						<a th:href="@{/quest/detail(num=${li.num})}"
			           th:text="${li.subject}"></a>
					</td>
					<td th:text="${li.writer}"></td>
					<td th:text="${#dates.format(li.reg_date, 'yyyy-MM-dd HH:mm')}"></td>
					<td th:text="${li.readcount}"></td>
				</tr>
			</tbody>
		</table>
		<div class="paging">
						<!-- 이전 -->
						<a th:if="${p.prev}" th:href="@{/quest/list(page=${p.startPage-1})}">◀</a>
						<span th:each="i : ${#numbers.sequence(p.startPage,p.endPage)}">
							<a th:href="@{/quest/list(page=${i})}"
								th:text="${i}" th:classappend="${i == p.pageNum ? 'active':''}"
							></a>
						</span>
						<!-- 다음 -->
						<a th:if="${p.next}" th:href="@{/quest/list(page=${p.endPage+1})}">▶</a>
					</div>
		<button type="button" th:onclick="|location.href='@{/quest/writer}'|">글쓰기</button>
	</section>
</body>
</html>